/* 
	COMMON CSS
*/

/* 

    RESPONSIVE

*/

* {
    transition-duration: 0.5s;
}

a, p, li, summary {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
}
summary {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15px;
}
h3 {
    font-size: 18px;
}
hr {
    margin: 25px 0;
}
section{
    width: 100%;
}
header {
    margin-bottom: 25px;
    text-align: left;
}

#article_page section {
    background-size: 100% auto;
    padding: 9%;
    width: 83%;
    height: auto;
}
.ctn_header_img header {

    left: inherit;
    padding: 9%;
    max-width: inherit;
    position: inherit;
    width: 82%;
    bottom: inherit;
}
.ctn_information_flex {
    flex-direction: column;
}
.ctn_information_flex div {
    margin-top: 30px;
}
.ctn_information_about p {
    width: 100%;
}
.carrousel, .containerDots{
    display: none;
}
#ctn_contact {
    padding: 2% 3%;
    width: 94%;
}
#ctn_dechet {
    padding: 3% 4%;
    width: 92%;
}
.ctn_header_img {
    position: relative;
    height: 400px;
    background: url(images/img_article.jpg) center 0 no-repeat fixed;;
    background-size: cover;  
}
.ctn_header_img header {
    position: absolute;
    bottom: -90px;
    left: 7%;
    bottom: 0;
    padding: 3%;
    background-color: #fff;
    margin: 0;
    max-width: 50%;
}
#article_page article {
    padding: 3%;
    width: 94%;
}
#article_page section {
    padding: 0;
    width: 100%;
}
.ctn_header_img h2 {
    text-align: left;
}



/* 
    DESKTOP
*/


@media screen and (min-width: 768px) {

    /* 
    	PAGES / ARTICLES
    */

    #article_page section {
        width: 100%;
        padding: 0;
    }
    #article_page .ctn_description{
        background-color: #ccc;
    }
    #article_page #container {
        padding: 0 3%;
    }
    #article_page h2, #article_page h3 {
        text-align: left;
    }
    .ctn_header_img header h2 {
        font-size: 35px;
        text-align: left;
        line-height: 45px;
    }
    .ctn_information h3 {
        margin-bottom: 30px;
        text-align: left;
    }
    .ctn_description h2 {
        text-align: left;
    }
    .ctn_information_flex {
        display: flex;
        align-items: center;
        flex-direction: inherit;
    }
    .ctn_information_about p{
        width: 80%;
    }
    .ctn_information_flex div {
        width: 20%;
        text-align: center;
    }
    .ctn_information_flex img {
        width: 70px;
    }
}