h2, h3
{
    text-align: center;
    color:  rgb(0, 133, 22);
}

.content_conseil .left, 
.content_conseil .right,
.content_points_collecte .left,
.content_points_collecte .right
{

    width: 45%;

}

.content_points_collecte .right,
.content_conseil .left
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

details
{
    max-width: 800px;
}

summary
{
    border: rgb(0, 133, 22) solid;
    margin-bottom: 10px;
    background: beige;
}

.content_conseil img
{
    max-width: 400px;

}

.content_points_collecte,
.content_conseil
{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


