/*--------mobile-------*/



.ctn_slider {
    position: relative;
    padding: 0;
    text-align: center;
    background-color: rgb(102, 204, 0);
 }
 .ctn_slider img {
    max-height: 300px;
    max-height: 300px;
    border-radius: 60px;
    box-shadow: 0px 3px 5px;
 }
 
 .item_slider {
    display: none;
    margin: 0 auto;
    overflow: hidden;
 }
 
 
 .ctn_slider .item_slider:first-child {
    display: block;
 }
 
 .button-left,
 .button-right {
   position: absolute; 
   top: 50%; 
   margin: 0;
    color: #d03516;
    width: 10%;
    font-size: 50px;
    max-height: 80px;
    max-width: 50px;
    
 }
  .button-left {
   
    left: 23px;
 }
 
 .button-right {
   right: 23px;
 }