/* 
	RESET.CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
	COMMON CSS
*/

a, p {

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
	text-decoration: none; 
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 1px;
}
h3 {
    font-size: 18px;
}
section{
	padding: 2% 3%; 
	width: 94%;
}
header {
    margin-bottom: 25px;
    text-align: left;
}
/* 
	PAGES / ARTICLES
*/

#article_page section {
    padding: 6% 10%;
    width: 80%;
}
#article_page .ctn_description{
    background-color: #ccc;
}
.ctn_header_img {
	position: relative;
	height: 300px;
	background: url(img/img_article.jpg) center 0 no-repeat fixed;;
	background-size: cover;  
}
.ctn_header_img header {
    position: absolute;
    bottom: -90px;
    left: 7%;
    bottom: 0;
    padding: 3%;
    background-color: #fff;
    margin: 0;
    max-width: 50%;
}
.ctn_header_img header h2 {
    font-size: 35px;
    text-align: left;
    line-height: 45px;
}
.ctn_information h3 {
    margin-bottom: 30px;
}
.ctn_information_flex {
    display: flex;
    align-items: center;
}
.ctn_information_about p{
    width: 80%;
}
.ctn_information_flex div {
    width: 20%;
    text-align: center;
}
.ctn_information_flex img {
    width: 70px;
}
#ctn_contact {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
}
form input {
    padding: 15px 1%;
    margin-top: 15px;
    width: 98%;
    border: none;
    border-radius: 3px;
}
form div {
    margin: 0 0 25px 0;
}
form label {
    display: inline-block;
    width: 100%;
}
form textarea {
    width: 98%;
    min-height: 250px;
    padding: 15px 1%;
    margin-top: 15px;
    border: none;
}
form button {
    float: right;
    margin-top: 50px;
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
form abbr {
	color: red; 
}
footer {
    position: relative;
    padding: 2% 3%;
    width: 94%;
    background-color: #000000;
    color: #fff;
}
footer .ctn_description_footer {
    display: flex;
}
footer .ctn_description_footer div:first-child{
    width: 60%;
}
footer .ctn_description_footer div:last-child{
    width: 40%;
    text-align: center;
}
footer .ctn_sociaux_footer a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 15px; 
	border: 1px solid #ffffff;
	border-radius: 40px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}
footer .ctn_sociaux_footer a:last-child {
	margin-right: 0;
}
footer nav ul li {
	display: inline-block;
}
footer nav ul li a {
	text-transform: uppercase;
	color: #ffffff; 
}
footer nav {
    display: block;
    border-top: 1px solid #fff;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
}
.ctn_go_top a {
    position: absolute;
    border: 1px solid #fff;
    border-radius: 40px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 35px;
    background-color: #000;
    right: 2%;
}














@media screen and (max-width: 768px) {
	footer .ctn_description_footer {
		display: flex;
		flex-direction: column;
	}
	footer .ctn_description_footer div:last-child,
	footer .ctn_description_footer div:first-child {
		width: 100%;

	}
	footer .ctn_description_footer div:last-child{
		width: 100%;
		margin: 15px 0 0 0;
	}
	footer nav {
		margin-top: 15px;
		padding-top: 15px;
	}
#article_page section {

    background-size: 100% auto;
    padding: 9%;
    width: 83%;
    height: auto;

}
.ctn_header_img header {

    left: inherit;
    padding: 9%;
    max-width: inherit;
    position: inherit;
    width: 82%;
    bottom: inherit;

}
.ctn_information_flex {
    flex-direction: column;
}
.ctn_information_flex div {
    margin-top: 30px;
}
.ctn_information_about p {
    width: 100%;
}
}