h2, h3
{

    text-align: center;

}

.content_conseil .left, 
.content_conseil .right,
.content_points_collecte .left,
.content_points_collecte .right
{

    width: 45%;

}

.content_points_collecte .right,
.content_conseil .left
{
    justify-content: center;
    margin-bottom: 20px;
}

details
{

    max-width: 800px;

}

summary
{
    border: rgb(0, 133, 22) solid;
    margin-bottom: 10px;
    background: beige;
}

.content_conseil img
{
    max-width: 400px;

}

.content_points_collecte,
.content_conseil
{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.content_points_collecte .right
{

    overflow: hidden;

}

.right img 
{

    width: 100%;

}

@media screen and (max-width: 768px)
{
    .content_points_collecte, 
    .content_conseil 
    {

        flex-direction: column;

    }

    .content_conseil .left, 
    .content_conseil .right, 
    .content_points_collecte .left, 
    .content_points_collecte .right 
    {

        width: 100%;

    }

    .content_conseil img
    {

        display: none;

    }


}


